<<<<<<< HEAD

.typings
{
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
  padding: 0;
}

.typings li
{
  color: #f7b;
  display: block;
  padding-left: 40px;

  text-shadow: 0 0 2px black;
}

.messages
{
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
  padding: 1px;

  text-shadow: 0 0 2px black;
}

.messages .msg 
{
  display: table;
  width: 100%;
  -padding: 2pt 8pt 2pt 8pt;
  margin: 2pt 8px 2pt 8px;
  -background: rgba(0,0,0,0.7);
}

.messages .msg .msgline 
{
  opacity: 0;
  display: table-row;

  transition: opacity 0.5s linear, transform 0.3s linear;
}

.messages .msg .msgline[created]
{
  opacity: 1;
}

.messages .msg .msgline .text
{
  display: table-cell;
  width: 100%;
  padding-left: 32px;
  padding-right: 40px;

  background-image: none;
  background-position: right 8pt center;
  background-repeat: no-repeat;
  background-size: 14px 16px; 
}

.messages .msg .msgline .text[status="init"]
{
  background-image: url(../img/delivery-waiting.svg);
}

.messages .msg .msgline .text[status="sended"]
{
  background-image: url(../img/delivery-single-gray.svg);
}

.messages .msg .msgline .text[status="delivered"]
{
  background-image: url(../img/delivery-double-color.svg);

}

/*
.messages .msg .msgline .text a.phone:hover
{
  color: pink;
}

.messages .msg .msgline .text a.phone:before
{
  font-family: FontAwesome;
  content: "\f10b\00a0";
}*/

.messages .msg .msgline .time
{
  -display: table-cell;
  display: none;
  font-size: 70%;
  color: #aaa;
}

.messages .me
{
  color: #cfc;
}

.messages .girl
{
  -color: #faa;
  color: #f7b;
}

.messages .girl .msgline
{
}

.messages dd
{
  font-weight: bold;
}

.messages .girl dd
{
  font-weight: bold;
  padding-left: 32px; 
  background-image: url('../img/girl-icon-pink-32.png');
  background-position: left top;
  background-repeat: no-repeat;
}

/*
@media screen and (max-width: 768px) {
  #chatScroller {
    background-image: attr(data-bg);
    -background-color: red;
  }
}
*/

.chat-window
{
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  max-width: 720px;

  -float: center;
}

/*
.chatRow 
{
  font-family: Nautilus;
  font-size: 14pt;
}

.chatCell 
{
  padding: 0;
}
*/
.modal-content
{
  text-align: center;
}

.chat-photo 
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -background-size: auto 100%;

  -webkit-filter: drop-shadow( 0 0 8px rgba(0,0,0,0.8) );
  filter: drop-shadow( 0 0 8px rgba(0,0,0,0.8) );
}

#chat-input-line-container
{
  width:100%;
  max-width: 720px;
}


.chat-smooth-showable,
.chat-hideable
{
  opacity: 1;
  transition: all 0.6s 0.3s ease-in-out;
}

.chat-smooth-showable
{
  transition: all 0.5s ease-in-out;
}

.chat-smooth-showable[hidden],
.chat-hideable[hidden]
{
  opacity: 0;
}


#chat
{
  display: block;
  -position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;

  background-position: center center;
  background-repeat: no-repeat;

  overflow: auto;
  overflow-x: hidden;
  
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  flex-direction: column;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
  align-items: flex-end;

  flex-direction: column-reverse; 
  flex-wrap: nowrap;
}

/*#chat[hidden]
{
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}*/

#chat > ul 
{
  width: 100%;
}


/*
#chat-bg
{
  display: block;
  position: absolute;
  border: 3px solid red;
  -height: 100%;
  -width: 100%;
  top:0;
  right: 100%;
}*/


#chatWnd a
{
  color: #f7b;
}

.chatHead
{
  color: #eee;
  text-align: center;
  vertical-align: middle;
  padding: 15pt 10pt;
  overflow: hidden;
  font-family: Nautilus;
  font-size: 15pt;
}


.chat-input
{
  width:100%;
}


.chatInputWnd
{
  display: table;
}
.chatInputRow
{
  display: table-row;
}

#chat-input-line
{
  width:100%;
}
#btnShowPic
{
  font-size: 150%;
}

.chat-button
{
  -display: table-cell;
}

.modal-close.is-large,
.my-modal-button
{
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;

  top: 14px;
  right: 14px;

}

.my-modal-button
{
  border: 2px solid transparent !important;
  right: auto;

  display: block;
  position: fixed;
  padding: 0; 

  z-index: 1005;
  background-color: rgba(0,0,0,0.6);
  background-image: url(../img/eye.svg) !important;
  background-position: center center !important;
  background-size: 21px 21px !important;
  background-repeat: no-repeat;
  border-radius: 21px;

  cursor: pointer;
  user-select: none;
  outline: none;

  transition: border-color 0.3s linear, background-color 0.3s linear, opacity 0.5s ease-in-out; 
}

.my-modal-button[checked]
{
  background-image: url(../img/eye-opened.svg) !important;
  border-color: rgba(255,255,127,0.8) !important;
  background-color: rgba(20,20,64,0.6);
  color: blue;
}

.my-modal-left
{
  left: 14px;
}

.my-modal-right
{
  right: 100%;
}
=======
/*
----------------------------
*/
#chatWnd
{
  height: 100pt;
  border: 2px solid green;
  color: white;
}
.chatMsgTyping
{
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 7pt;
  color: #ddd;
}
.chatMsgMe, .chatMshGirl
{
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5pt;
  color: yellow;

}
.chatMsgMe
{
  align:right;
}
.chatMsgGirl
{
  align:left;
}

#chatWnd a
{
  color: pink;
}
>>>>>>> 300fa8fea9f5adc8991ebeb81e38ac0d4f16c255
