/*
*,
*:before,
*:after {
  box-sizing: border-box;
}*/


html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: rgb(116, 1, 0);
  background-image: url(../img/chat-bg-19.jpg);
}

body
{
  padding: 0px;
  margin: 0px;
}

div.centered,
table.centered {
  margin-left:auto; 
  margin-right:auto;
}

button.modal-close,
.modal,
.modal-background,
.modal-content
{
  z-index:1000;
}

.modal {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  padding: 0;
  margin: 0;
  max-height: 100%;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal-background {
  background-color: #ca010b;
  background-image: linear-gradient(45deg, #ca010b, #b10209);
  -background-image: url(../img/chat-bg-22.jpg);
}

.card 
{
  width: 286px;
  min-height: 286px;
  margin: 8px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  transition: all 0.3s ease-in-out;
  padding: 18px;
  background-image: url(../img/dirty-paper.jpg);
}

.card img {
  width: 250px;
  height: 250px;
}

.card:hover
{
  box-shadow: 0 0 50px rgba(0,0,0,0.8); 
  transform: scale(1.2, 1.2);
}

.card .card-image-img
{
  filter: saturate(80%);
  cursor:pointer;
  transition: all 0.3s ease-in-out;

  clip: rect(5px 250px 245px 2px);
}

.card:hover .card-image-img
{
  filter: saturate(105%);
  transform: scale(1.03, 1.03);

  clip: rect(5px 5px 245px 245px);
}


figure.image 
{
  background: black;
  width: 250px;
  height: 250px;
}

.card-image-img
{
  display: inline-block;
  position: relative;
  top: -76px;
}

figure.image:before
{
  z-index: 2;
  position: relative;
  display: inline-block;
  
  content: "";

  width: 80px;
  height: 70px;
  top: 170px;
  left: -75px;
  overflow: hidden;
  -box-shadow: 0 0 10px rgba(0,0,0,0.5); 

  pointer-events: none;
  background-image: url(../img/chat-icon-64.png);
  background-position: center center;
  background-repeat: no-repeat; 

  -background-color: #ff8;
  -border-radius: 40px 35px;

  transform-origin: 14px 60px;  
  transform: rotate(15deg);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

figure.image:hover:before
{
  transform: rotate(0deg);
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

@media (hover: none)
{
  figure.image:hover:before
  {
    transform: rotate(15deg);
    opacity: 0;
  }
}


.card-image-img
{
  opacity: 0;
  cursor: pointer;
  filter: contrast(0%);
  transition: opacity 0.9s ease-out 0.0s, filter 1.0s linear 0.5s;
}

.card-image-img:hover
{

}

.card-image-img[loaded]
{
  filter: contrast(100%);
  opacity: 1;
}

.card-content
{
  font-family: Hatterline;
  padding: 18px 0 0 0;
  overflow:hidden;
  white-space: nowrap;
}

.card-content .title:after
{
  font-family: FontAwesome;
  display: inline-block;
  color: #f5b53f;
  overflow:hidden;
  white-space: nowrap;
  font-size: small;
  margin-left: 5pt;
}

/*
  var star = "\f005";
  var half = "\f123";
  var none = "\f006";
*/

.card-content .title[rating="1"]:after { content: "\f123\f006\f006\f006\f006"; }
.card-content .title[rating="2"]:after { content: "\f005\f006\f006\f006\f006"; }
.card-content .title[rating="3"]:after { content: "\f005\f123\f006\f006\f006"; }
.card-content .title[rating="4"]:after { content: "\f005\f005\f006\f006\f006"; }
.card-content .title[rating="5"]:after { content: "\f005\f005\f123\f006\f006"; }
.card-content .title[rating="6"]:after { content: "\f005\f005\f005\f006\f006"; }
.card-content .title[rating="7"]:after { content: "\f005\f005\f005\f123\f006"; }
.card-content .title[rating="8"]:after { content: "\f005\f005\f005\f005\f006"; }
.card-content .title[rating="9"]:after { content: "\f005\f005\f005\f005\f123"; }
.card-content .title[rating="10"]:after { content: "\f005\f005\f005\f005\f005"; }


.photo-phone
{
  font-weight: bold;
}

a.phone:before
{
  font-family: "FontAwesome";
  content: "\f098\00a0";
}

.modal a
{
  color: #329bdc;
}

.modal a:visited
{
  color: #329bdc;
}

.modal a:hover
{
  color: pink;
}


#navbar
{
  display:none;
}

.navbar-brand
{
  text-align: center;
}

section.section
{
  display: block;
  width: 100%;
  padding: 0;
}

.header
{
  width: 100%;
  font-family: Nautilus;
  font-size: 24pt;
  color: #fee;
  text-align: center;


  background-color: #a00100;
  border-bottom: 1px solid #540000;

  box-shadow: 0 0 12pt rgba(0,0,0,0.4);

  left: 0;
  right: 100%;
  top: 0;
  z-index: 2;
  padding-top: 2pt;

  transition:  background-color 0.4s linear;
}

.header[small]
{
  background-color: rgb(116, 1, 0);
  transition:  background-color 0.4s linear;
}

.footer
{
  display: block;
  text-align: center;
  margin: 6pt 0 0 0;
  padding: 14pt 6pt 10pt 6pt;
  background: none;
}

.footer div
{
  transition: all 0.6s ease-in-out;
  opacity: 0;
  transform: scale(0.3);
}

.footer[reached] div
{
  opacity: 1;
  transform: scale(1);
}

#main-content-section
{
}

#main-content
{
<<<<<<< HEAD
  padding: 5pt;
  text-align: center;
  width: 100%;

  min-height: 1000px;
}

a.reroll,
a.reroll:hover,
a.reroll:visited
{
  color: #6c9dea;
}

a.reroll {
  color: #6c9dea;
  vertical-align: middle;
  padding-left: 30px;

  background-image: url(../img/icons8-dice-50-blue.png);
  background-repeat: no-repeat;
  background-position: left center;

  background-size: 25px 25px;

  min-height: 25px;
  vertical-align: middle;
  display: inline-block;
  font-family: Nautilus;
  font-size: 20pt;
}



=======
    color: white;
}
>>>>>>> 300fa8fea9f5adc8991ebeb81e38ac0d4f16c255
