
#lightbox
{
  width: 100%;
  height: 100%;
  -background-color: rgba(200,0,100,1);
  padding: 0 0;
  margin: 0;
  opacity: 0;
}

#lightbox.is-active
{
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#lightbox.is-active[visible]
{
  opacity: 1;
  -transition: opacity 0.4s ease-in-out;
}

#lightbox-close
{
  background-color: rgba(0,0,0,0.5);
}

.lightbox-topline
{
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 5002;

  padding-left: 64px;
  padding-right: 64px;
  top: 14px;

  filter:scale(100%), drop-shadow( 0 0 10px rgba(0,0,0,0.8) );
}

.lightbox-topline-bg
{
  -border-radius: 21pt;
  border-radius: 2pt;
  background-color: rgba(0,0,0,0.7);
  padding: 6pt 9pt 2pt 9pt;
  display: inline-block;
  text-shadow: 0 0 2px black, 0 0 1px black;
  font-family: Nautilus;
  font-size: 130%;
  color: white;
}

.lightbox-topline .lightbox-topline-bg
{
  box-shadow: 0 0 0 black;
  transition: all 0.3s ease-in-out;
}

.lightbox-topline[hidden] .lightbox-topline-bg
{
  box-shadow: 0 0 32px rgba(255,255,100,0.7);
  -filter:scale(3.2);
  transition: all 0.3s ease-in-out;
}


#me
{
  font-size: 120%;
  color: #eee;
}

#phone 
{
  color: #4cbbff;
  white-space: pre;
}

#phone:hover 
{
  color: #cce;
  transition: color 0.15s ease-in-out;
}

#phone:before { display:inline-block; font-family: "FontAwesome"; content: "\f098\00a0";}
#phone:hover:before 
{
  -transform: rotate(45deg);
}

#city:before { content:"@ ";}
#age:before { content:"("; }
#age:after { content:")"; }

#name {
  color: #f7b;
}

#photo,
#moto,
#desc,
#age,
#city
{
    display:none;
}