
@font-face {
  font-family: Nautilus;
  src: url(../fonts/Nautilus.otf);
}

@font-face {
  font-family: Alexander;
  src: url(../fonts/Alexander.otf);
}

@font-face {
  font-family: Hatterline;
  src: url("../fonts/Hatterline.ttf");
}


.invisible
{
  visibility: hidden;
}

.is-clipped
{
  overflow:hidden;
  pointer-events: none;
}

.is-active 
{
  pointer-events: auto;
}

.fix-tap-scrolling
{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: -100px;
  padding-bottom: 100px;
  transform: translateY(100px);
}

.disable-hover
{
  pointer-events: none;
}


.hellip
{
  display: inline-block;
  overflow: hidden;
  animation: typingAnim 2s infinite linear;
}

@keyframes typingAnim {
    0%   {opacity:0.3; width: 0px;}
    30%  {width: 1.5em;}
    50%  {opacity:1.0; }
    100% {opacity:0.7; width: 1.5em;}
}